@media screen and (max-width:400px) {

    .text-sobre p {
        font-size: 15px;
        text-align: justify;
    }

    .text-sobre {
        margin: 0px;
    }

    .text-sobre span {
        display: none;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button {
        font-size: 10px;
        width: 100%;
    }

    .card {
        height: 300px;
    }

    .card:hover {
        min-height: 300px;
    }

    #sobre-nos {
        padding: 16px;
    }

    #sobre-nos h2 {
        font-size: 30px;
    }

    #servico h2 {
        font-size: 30px;
    }

    @keyframes slide {
        0% {
            left: -40px;
        }

        20% {
            left: -40px;
        }

        30% {
            left: -440px;
        }

        50% {
            left: -440px;
        }

        60% {
            left: -840px;
        }

        90% {
            left: -840px;
        }

        100% {
            left: -40px;
        }
    }

    footer {
        margin-top: 100px;
        height: 200px;
        background-image: linear-gradient(180deg, #53b7d2, #95cfe0);
    }

    .logo-rodape {
        padding: 0px;
    }
    .img-headline {
        margin-top: 32px;
        max-width: 250px;
        max-height: 250px;
        background-size: 300px;
        border-radius: 100%;
        background-position: center;
    }
}