@media screen and (max-width:600px) {
    .encomendas{
        flex-direction: column;
    }   
    .card{
        width: 100%;
        height: 250px;
        position: relative;
    } 
    .card:hover{
        width: 100%;
        min-height: 250px;
    }
    .card:hover .saiba-mais-btn{
        display: none;
    }

    .saiba-mais-btn {
        display: inline-block;
        font-size: small;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #FC8A94;
        color:#53b7d2;
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translate(-50%);
        font-weight: bold;
    }
}